@page "/Prestamos/Details/{PrestamoId:int}"
@rendermode InteractiveServer
@inject PrestamosServices prestamosServices
@inject NavigationManager navigation

<PageTitle> Detalles Prestamo</PageTitle>

<div class="container mt-5">
    <div class="card p-4 shadow-lg border-primary">
        <div class="card-header">
            <h5 class="card-title text-center mb-4 bg-primary text-white p-2 rounded">Detalles Prestamo</h5>
        </div>

        <div class="card-body">
            <div class="list-details">
                <ul class="list-group">
                    @*Prestamo Id*@
                    <li class="list-group-item">
                        <strong> Prestamos Id:</strong> @Prestamos.PrestamoId
                    </li>

                    @*Deudor*@
                    <li class="list-group-item">
                        <strong>Deudor:</strong> @Prestamos.Deudor
                    </li>

                    @*Concepto*@
                    <li class="list-group-item">
                        <strong>Concepto:</strong> @Prestamos.Concepto
                    </li>

                    @*Monto*@
                    <li class="list-group-item">
                        <strong>Monto:</strong> @Prestamos.Monto
                    </li>
                </ul>
            </div>
        </div>


        <div class="card-footer d-flex justify-content-between">
            <a href="/Prestamos/Index" class="btn btn-primary bi bi-arrow-left mt-3"> Volver</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int PrestamoId { get; set; }
    public Prestamos Prestamos { get; set; } = new Prestamos();

    protected override async Task OnInitializedAsync()
    {
        Prestamos = await prestamosServices.Buscar(PrestamoId);
    }

}
